extends ../layouts/default

block content
  .row
    .col-md-12
      .page-header
        h1=__(locals.breadcrumb[locals.breadcrumb.length-1].title)
          !=' '
          small Connection Details
  .row
    .col-md-12
      include view_menu

  .row
    .col-md-12
      table.table.rowlink.table-striped.table-bordered.table-hover(data-link='row')
        thead
          tr
            th=__('Database')
            th=__('options')
        tbody.rowlink(data-link='row')
          - if(locals.databases)
            - each database, key in databases
              tr
                td=database.Database
                td.rowlink-skip
                  .btn-group
                    a.btn.btn-default(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+database.Database, title=__('view'))
                      span.glyphicon.glyphicon-eye-open
                    a.btn.btn-default(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+database.Database+'/export', title=__('export'))
                      span.glyphicon.glyphicon-cloud-download
                    a.btn.btn-default(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+database.Database+'/import', title=__('import'))
                      span.glyphicon.glyphicon-cloud-upload
                    a.btn.btn-info(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+database.Database+'/edit', title=__('edit'))
                      span.glyphicon.glyphicon-pencil
                    a.btn.btn-danger(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+database.Database+'/delete', title=__('delete'))
                      span.glyphicon.glyphicon-remove
                