//Fixed navbar 
.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') DamnDatabases
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') SQL
          ul.dropdown-menu(role='menu')
            li
              a(href='/mysql')=__('mysql')
            li
              a(href='/postgresql')=__('postgresql')
            li
              a(href='/mssql')=__('mssql')
            li
              a(href='/sqlite')=__('sqlite')
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') NoSQL
          ul.dropdown-menu(role='menu')
            li
              a(href='/mongodb')=__('mongodb')
            li
              a(href='/couchdb')=__('couchdb')
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') Key-Value
          ul.dropdown-menu(role='menu')
            li
              a(href='/redis')=__('redis')
      ul.nav.navbar-nav.navbar-right
        li
          a(href='https://github.com/damncreative/DamnDatabases', target='_blank') GitHub Repo
        li
          a(href='https://github.com/damncreative/DamnDatabases/issues', target='_blank') Issues
    //.nav-collapse 

