extends form

block form
  .form-group
    label(for='host')=__('database.host')
    input.form-control#host(type='text', name='host', placeholder=__('database.host.placeholder'), value=host)
  .form-group
    label(for='port')=__('database.port')
    input.form-control#port(type='text', name='port', placeholder=__('database.port.placeholder'), value=port)
  .form-group
    label(for='user')=__('database.user')
    input.form-control#user(type='text', name='user', placeholder=__('database.user.placeholder'), value=user)
  .form-group
    label(for='password')=__('database.password')
    input.form-control#password(type='password', name='password', placeholder=__('database.password.placeholder'), value=password)