extends layouts/default

block content
  .row
    .col-md-12
      .page-header
        h1=__(locals.breadcrumb[locals.breadcrumb.length-1].title)
          !=' '
          small Organize Your Connections
  .row
    .col-md-12
      include connections_menu

  .row
    .col-md-12
      table.table.rowlink.table-striped.table-bordered.table-hover(data-link='row')
        thead
          tr
            th=__('ID')
            th=__('Host')
            th=__('User')
            th=__('options')
        tbody.rowlink(data-link='row')
          - if(locals.connections)
            - each connection, key in connections
              tr
                td
                  a(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+key)=key
                td=connection.host
                td=connection.user
                td.rowlink-skip
                  .btn-group
                    a.btn.btn-info(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+key+'/edit')
                      span.glyphicon.glyphicon-pencil
                      !=' '+__('edit')
                    a.btn.btn-danger(href=locals.breadcrumb[locals.breadcrumb.length-1].href+'/'+key+'/delete')
                      span.glyphicon.glyphicon-remove
                      !=' '+__('delete')
                